@import "tailwindcss";

:root {
  color-scheme: dark;
}

@theme {
  --color-brand-primary: #10b981; /* Adds text-brand-primary, bg-brand-primary, etc. */
  --font-display: "Geist Sans", sans-serif;
}

body {
  @apply bg-zinc-950 text-zinc-50 antialiased;
}
